<a href="https://colab.research.google.com/github/gitlab2131/pytest/blob/main/IO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Input and Output

Accept two numbers from the user and calculate multiplication

In [2]:
num1 = int(input("Enter num1 -> "))
num2 = int(input("Enter num2 -> "))
print(num1*num2)

Enter num1 -> 11
Enter num2 -> 11
121

Display “My Name Is James” as “My**Name**Is**James” using output formatting of a print() function

In [3]:
print("My**Name**Is**James")

My**Name**Is**James

In [7]:
print("My", "Name", "Is", "James",sep="**")

My**Name**Is**James

Convert decimal number to octal using print() output formatting

In [15]:
print('%o'%(8))

10

Display float number with 2 decimal places using print()

In [14]:
print('%.2f'% 458.541315)

458.54

How to check file is empty or not

In [25]:
with open("test.txt","r") as fp:
  lines = fp.readlines()
  print(lines[3])

line4

Write all content of a given file into a new file by skipping line number 5

In [17]:
count = 0
with open("test.txt", "r") as fp:
    lines = fp.readlines()
    count = len(lines)
with open("newFile.txt", "w") as fp:
    for line in lines:
        if (count == 3):
            count -= 1
            continue
        else:
            fp.write(line)
        count-=1

Accept any three string from one input() call

In [19]:
str1, str2, str3 = input("Enter names").split()
print(str1, str2, str3)

Enter namesA B C
A B C

Format the following data using a string.format() method.

totalMoney = 1000

quantity = 3

price = 450

In [23]:
totalMoney = 1000
quantity = 3
price = 450
print("I have {0} dollars so I can buy {1} football for {2:.2f} dollars.".format(totalMoney,quantity,price))

I have 1000 dollars so I can buy 3 football for 450.00 dollars.