<a href="https://colab.research.google.com/github/gitlab2131/pytest/blob/main/loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print First 10 natural numbers using while loop

In [5]:
i = 0
while i <= 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9
10

Print the following pattern

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [19]:
def printNubers(num):
  for i in range(1,num):
    for j in range(1, i+1):
      print(j, end=" ")
    print("\n")

printNubers(6)

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

Print multiplication table of a given number

In [21]:
n =2
for i in range(1,11,1):
  print(2*i,end ="\n")

2
4
6
8
10
12
14
16
18
20

Given a list, iterate it, and display numbers divisible by five, and if you find a number greater than 150, stop the loop iteration.
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

In [23]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for i in list1:
  if i > 150:
      break
  if i % 5 == 0:
    print(i)

15
55
75
150

Given a number count the total number of digits in a number
For example, the number is 75869, so the output should be 5.

In [24]:
print(len(f'75869'))

5

In [25]:
def printCount(num):
  count = 0
  while num != 0:
    num = num // 10
    count += 1
  print("Total digits are: ", count)

printCount(75869)

Total digits are:  5

Print the following pattern using for loop

5 4 3 2 1 


4 3 2 1 

3 2 1 

2 1 

1

In [31]:
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print("\n")

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

Reverse the following list using for loop
list1 = [10, 20, 30, 40, 50]

In [42]:
list1 = [10, 20, 30, 40, 50]
for i in range(len(list1) - 1,-1,-1):
  print(list1[i])

50
40
30
20
10

Display numbers from -10 to -1 using for loop

In [46]:
for i in range(-10,0,1):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Write a program to display all prime numbers within a range
**A Prime Number is a whole number that cannot be made by multiplying other whole numbers**

In [48]:
def printPrime(start,end):
  for num in range(start,end + 1):
    if num > 1:
      for i in range(2,num):
        if (num % i) == 0:
          break
      else:
        print(num)

start = 25
end = 50
printPrime(start,end)

29
31
37
41
43
47

Display Fibonacci series up to 10 terms
0  1  1  2  3  5  8  13  21  34

In [61]:
def Fibonacci(num):
  terms = num
  first, next = 0, 1
  count = 0 
  while count < terms:
    print(first, end=" ")
    temp = first + next
    first = next
    next = temp
    count +=1

Fibonacci(10)

0 1 1 2 3 5 8 13 21 34

Write a loop to find the factorial of any number

In [67]:
def factorial(num):
  sum = 1
  if num < 0:
    print("Factorial does not exist for negative numbers")
  elif num == 0:
    print("The factorial of 0 is 1")
  else:
    for i in range(1, num +1):
      sum = sum * i
    print("The factorial of", num, "is", sum)

factorial(5)

The factorial of 5 is 120

Reverse a given integer number
76542 -> 24567


> Indented block

In [68]:
print(f'76542'[::-1])

24567

In [72]:
def reverse(num):
  rnum = 0
  while num > 0:
    rem = num % 10
    rnum = (rnum * 10) + rem
    num = num //10
  print(rnum,end="")

reverse(76542)

24567

In [74]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[1::2]:
  print(i, end=" ")

20 40 60 80 100

Display the cube of the number up to a given integer

In [88]:
def displayCube(num):
  for i in range(1,num+1):
    print("Current Number is : {} and the cube is {}".format(i,i*i*i))
    print("Current Number is :",i,"and the cube is",i*i*i)

displayCube(6)

Current Number is : 1 and the cube is 1
Current Number is : 1 and the cube is 1
Current Number is : 2 and the cube is 8
Current Number is : 2 and the cube is 8
Current Number is : 3 and the cube is 27
Current Number is : 3 and the cube is 27
Current Number is : 4 and the cube is 64
Current Number is : 4 and the cube is 64
Current Number is : 5 and the cube is 125
Current Number is : 5 and the cube is 125
Current Number is : 6 and the cube is 216
Current Number is : 6 and the cube is 216

Find the sum of the series 2 +22 + 222 + 2222 + .. n terms

number_of_terms = 5

So series will become 2 + 22 + 222 + 2222 + 22222

In [110]:
def displaySeries(term):
  start = 2
  sum = 0
  for i in range(0,term):
    print(start,end=" ")
    sum += start
    start = (start * 10) + 2
  print("\nSum of above series is:", sum)
number_of_terms = 5
displaySeries(number_of_terms)

2
22
222
2222
22222

Sum of above series is: 24690

In [117]:
for i in range(1,5):
  for j in range(i):
    print("*",end=" ")
  print("\n")
for i in range(5,0,-1):
  for j in range(i):
    print("*",end=" ")
  print("\n")

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

Generate a Python list of all the even numbers between 4 to 30

In [119]:
print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]