<a href="https://colab.research.google.com/github/gitlab2131/pytest/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hi!")

Hi!

In [2]:
import numpy as np
print(np.__version__)

1.19.5

Basic

In [3]:
number1 = 20
number2 = 30
c = number1 * number2
c

600

In [4]:
number1 = 40
number2 = 30
c = number1 + number2
print(c)

70

Given a range of the first 10 numbers, Iterate from the start number to the end
 number, and In each iteration print the sum of the current number and previous
  number

In [13]:
sum = 0
Previous = 0
print("Printing current and previous number sum in a range(10)")
for i in range(10):
  sum = i + Previous
  print("Current Number {} Previous Number  {} Sum:  {}".format(i,Previous,sum))
  Previous = i

Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0 Sum:  0
Current Number 1 Previous Number  0 Sum:  1
Current Number 2 Previous Number  1 Sum:  3
Current Number 3 Previous Number  2 Sum:  5
Current Number 4 Previous Number  3 Sum:  7
Current Number 5 Previous Number  4 Sum:  9
Current Number 6 Previous Number  5 Sum:  11
Current Number 7 Previous Number  6 Sum:  13
Current Number 8 Previous Number  7 Sum:  15
Current Number 9 Previous Number  8 Sum:  17

In [14]:
def producesum(num):
  prvNum = 0
  for i in range(num):
    sum = i + prvNum
    print("Current Number {} Previous Number  {} Sum:  {}".format(i,prvNum,sum))
    prvNum = i

producesum(10)

Current Number 0 Previous Number  0 Sum:  0
Current Number 1 Previous Number  0 Sum:  1
Current Number 2 Previous Number  1 Sum:  3
Current Number 3 Previous Number  2 Sum:  5
Current Number 4 Previous Number  3 Sum:  7
Current Number 5 Previous Number  4 Sum:  9
Current Number 6 Previous Number  5 Sum:  11
Current Number 7 Previous Number  6 Sum:  13
Current Number 8 Previous Number  7 Sum:  15
Current Number 9 Previous Number  8 Sum:  17

Given a string, display only those characters which are present at an even index number.

For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.

In [23]:
def displayEvenChar(str):
  for i in range(0,len(str)-1,2):
      print("'{}'".format(str[i]))

displayEvenChar("pynative")

'p'
'n'
't'
'v'

Given a string and an integer number n, 

remove characters from a string starting from zero up to n 

and return a new string

removeChars("pynative", 4) so output must be tive.

In [26]:
def removeChars(str,n):
  print("{}".format(str[n:]))

removeChars("pynative",4)

tive

Given a list of numbers, return True if first and last number of a list is same

Given list is  [10, 20, 30, 40, 10]

result is True


Given list is  [10, 20, 30, 40, 50]

result is False

In [29]:
def match(input):
  first = input[0]
  last = input[-1]
  if first == last:
    print("True")
  else:
    print("False")

match([10, 20, 30, 40, 10])
match([10, 20, 30, 40, 50])

True
False

Given a list of numbers, Iterate it and print only those numbers which are divisible of 5

Given list is  [10, 20, 33, 46, 55]

Divisible of 5 in a list

10
20
55

In [30]:
def divisibleByFive(input):
  for i in input:
    if i%5 == 0:
      print("{} is divisible by 5".format(i))

divisibleByFive([10, 20, 33, 46, 55])

10 is divisible by 5
20 is divisible by 5
55 is divisible by 5

Return the count of sub-string “Emma” appears in the given string
str = "Emma is good developer. Emma is a writer"
Emma appeared 2 times

In [31]:
str = "Emma is good developer. Emma is a writer"
print(str.count("Emma"))

2

In [34]:
def CountBySearch(str):
  count = 0
  for i in range(len(str) - 1):
    count += str[i: i + 4] == "Emma"
  return count
CountBySearch("Emma is good developer. Emma is a writer")

2

Print the following pattern

1 

2 2 

3 3 3 

4 4 4 4 

5 5 5 5 5

In [42]:
def display(num):
  for i in range(num):
    for j in range(i):
      print (i, end=" ")
    print("\n")

display(6)

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

Reverse a given number and return true if it is the same as the original number

original number 121

The original and reverse number is the same


original number 125

The original and reverse number is not same

In [58]:
def matchReverseStr(number):
  original = f'{number}'
  if original == original[::-1]:
    print("The original and reverse number is the same")
  else:
    print("The original and reverse number is not same")

matchReverseStr(121)

The original and reverse number is the same

In [69]:
def reverseCheck(number):
  original = number
  reverseNum = 0
  while (number > 0):
    balance = (number % 10)
    reverseNum = (reverseNum * 10) + balance
    number = number // 10
  
  if original == reverseNum:
    return True
  else:
    return False

print("The original and reverse number is the same:", reverseCheck(125))

12
1
0
The original and reverse number is the same: False

Given a two list of numbers create a new list such that new list should contain 
only odd numbers from the first list and even numbers from the second list

list1 =  [10, 20, 23, 11, 17]

list 2 = [13, 43, 24, 36, 12]


result List is [23, 11, 17, 24, 36, 12]

In [71]:
def mergeOddEven(l1,l2):
  result =[]
  for i in l1:
    if i % 2 != 0:
      result.append(i)
  for j in l2:
    if j % 2 ==0:
      result.append(j)
  
  print(result)

mergeOddEven([10, 20, 23, 11, 17],[13, 43, 24, 36, 12])

[23, 11, 17, 24, 36, 12]

Write a code to extract each digit from an integer, in the reverse order

In [81]:
def displayReverseDigit(num):
  change = f'{num}'[::-1]
  print(change)
  for i in change:
    print(i,end=" ")

displayReverseDigit(7536)

6357
6 3 5 7

In [87]:
def displayReverseDigit(num):
  while num > 0:
    digit = num % 10
    num = num // 10
    print(digit, end=" ")
  
displayReverseDigit(6357)

7 5 3 6

Print multiplication table form 1 to 10

In [91]:
for i in range(11):
  for j in range(11):
    print(i * j,end=" ") 
  print("\t\t")

0 0 0 0 0 0 0 0 0 0 0
0 1 2 3 4 5 6 7 8 9 10
0 2 4 6 8 10 12 14 16 18 20
0 3 6 9 12 15 18 21 24 27 30
0 4 8 12 16 20 24 28 32 36 40
0 5 10 15 20 25 30 35 40 45 50
0 6 12 18 24 30 36 42 48 54 60
0 7 14 21 28 35 42 49 56 63 70
0 8 16 24 32 40 48 56 64 72 80
0 9 18 27 36 45 54 63 72 81 90
0 10 20 30 40 50 60 70 80 90 100

Print downward Half-Pyramid Pattern with Star (asterisk)
** * * * *  
* * * *  
* * *  
* *  
*

In [97]:
for i in range(6):
  for j in range(i):
    print("*", end="")
  print("\t")

*
**
***
****
*****

In [104]:
num = 6
for i in range(num, 0,-1):
  for j in range(0,i - 1):
    print("*", end="")
  print("\t")

*****
****
***
**
*

Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

base = 2

exponent = 5

2 raises to the power of 5: 32 i.e. (2 *2 * 2 *2 *2 = 32)

In [105]:
def exponent(base, exp):
  num = exp
  result = 1
  while num > 0:
    result = result * base
    num = num -1
  print(base, "raises to the power of", exp, "is: ", result)

exponent(2,5)

2 raises to the power of 5 is:  32